.NavBar-Content {
  height: 54px;
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
}

.LogoInstagram {
  margin-top: 5px;
}

.Input-search {
  height: 30px;
  width: 215px;
  border: 1px solid #dbdbdb;
  text-align: center;
  background-color: #fafafa;
  border-radius: 5px;
}
